<h1>Listing dogs</h1>

<table>
  <thead>
    <tr>
      <th>Valid email address</th>
      <th>Subject</th>
      <th>Description</th>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= dog.valid_email_address %></td>
        <td><%= dog.subject %></td>
        <td><%= dog.description %></td>
        <td><%= dog.first_name %></td>
        <td><%= dog.last_name %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
